*{
    margin: 0;

    
}
.green-section{
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px 0;
    background-color: rgb(30, 57, 50);
    color: white;
}
.green{
    background-color: rgb(30, 57, 50);
    color: white;
}


.white-section{
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 50px 0;
    color: rgb(30, 57, 50);
}
details-container{
    margin: 20px;
    width: calc(100vw/2);
    height: calc(100vw/2);
}
img-container{
    width: calc(100vw/2);
    height: calc(100vw/2);
}
.section-img{
    width: fit-content;
    /*max-width: 100%;*/
    height: auto;
}

.section-title{
    
    margin: 20px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-style: bold;
}

.section-details{
    margin: 20px;
    font-family: 'Crete Round',Georgia,serif;
    font-size: 14px;
    font-style: italic;
    font-stretch: 100%;
}

.section-details-info{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Crete Round',Georgia,serif;
    font-style: italic;
    font-size: 10px;
}

.section-link{
    
    margin: 20px;
    font-size: 17px;
}
.section-button{
    background-color: rgb(30, 57, 50);
    margin-top: 20px;
    font-size: 17px;
}

.section-title-green{
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    font-size: 38.5px;
    font-style: italic;
    padding-bottom: 30px;
}
.section-details-green{
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16.8px;
}

.section-button{
    background-color: rgb(30, 57, 50);
    border: solid;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
